qEQAlert/Debug
qEQAlert/Release
qEQAlert/build
qEQAlert/qEQAlert.pro*
qEQAlert/NtpTimeFetcher.cpp
qEQAlert/NtpTimeFetcher.h
qEQAlert/Runner_bak.cpp
qEQAlert/Runner_bak.h
qEQAlert/CMakeLists.txt.user
qEQAlert/CMakeLists.txt.user*
qEQAlert/qEQAlert.json
Debug
Debug/**
Release
Release/**
build
build/**
Makefile
CMakeLists.txt.user
CMakeLists.txt.user*
tags
ToDo.txt
RSS/**
.idea/**
CLion-Debug/**
CLion-Release/**
**/*.pro.user*
**/*.0
**/*.o
**/*.lo
**/*.so
**/*.out
**/*.a
